body {
    margin: 0;
    background-color: #0E1C2C;
}

.loader {
    display: block;
    width: 100%;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

.loader__logo {
    width: 80%;
    max-width: 260px;
    margin: 0 auto;
}

.loader__icon {
    width: 100%;
    padding-top: 15.76%;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='158' height='25' viewBox='0 0 158 25'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='50%25' x2='50%25' y1='0%25' y2='99.429%25'%3E%3Cstop offset='0%25' stop-color='%230AD562'/%3E%3Cstop offset='100%25' stop-color='%23359BE0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23FFF' d='M31.165 20.974c.916 0 1.674-.321 2.274-.965.6-.643.9-1.51.9-2.601V14.43c0-1.09-.3-1.958-.9-2.601-.6-.643-1.358-.966-2.274-.966-.916 0-1.675.225-2.274.671-.6.448-.9 1.063-.9 1.849v5.072c0 .785.3 1.402.9 1.849.6.447 1.358.67 2.274.67zM23.148.294h4.843v9.915h.164c.24-.96.79-1.745 1.652-2.356.861-.61 1.849-.916 2.961-.916 2.181 0 3.829.764 4.941 2.29 1.113 1.528 1.669 3.753 1.669 6.676s-.556 5.153-1.669 6.691c-1.112 1.538-2.76 2.307-4.94 2.307a5.144 5.144 0 0 1-1.604-.245 4.819 4.819 0 0 1-1.358-.687 4.456 4.456 0 0 1-1.652-2.34h-.164v2.88h-4.843V.294zM43.042 24.509h4.843V7.329h-4.843v17.18zm2.422-19.012c-.982 0-1.696-.223-2.143-.67-.448-.447-.671-1.02-.671-1.718v-.72c0-.698.223-1.27.67-1.718C43.769.224 44.483 0 45.465 0c.982 0 1.696.224 2.143.67.447.448.671 1.02.671 1.719v.72c0 .698-.224 1.27-.67 1.717-.448.448-1.162.671-2.144.671zM52.4 24.508V7.33h4.843v2.912h.197c.305-.894.84-1.67 1.603-2.323.763-.655 1.821-.982 3.174-.982 1.767 0 3.103.589 4.009 1.767.904 1.178 1.357 2.858 1.357 5.039v10.765h-4.842V14.136c0-1.113-.175-1.936-.524-2.47-.349-.535-.97-.802-1.865-.802-.393 0-.775.049-1.145.147a2.917 2.917 0 0 0-.998.474c-.295.219-.53.486-.704.802a2.227 2.227 0 0 0-.262 1.096v11.125h-4.842zM77.89 21.53c.807 0 1.5-.172 2.078-.519.578-.346.867-.909.867-1.688V17.31H78.48c-1.897 0-2.846.638-2.846 1.915v.488c0 .627.196 1.087.589 1.38.392.292.949.438 1.668.438zm6.708 2.978c-.872 0-1.598-.272-2.176-.818-.578-.545-.944-1.276-1.096-2.192h-.196c-.262 1.113-.84 1.958-1.734 2.536-.895.578-1.997.867-3.305.867-1.724 0-3.043-.456-3.96-1.37-.916-.913-1.374-2.12-1.374-3.62 0-1.805.66-3.148 1.98-4.029 1.32-.88 3.113-1.32 5.382-1.32h2.716v-1.08c0-.83-.218-1.49-.654-1.98-.437-.491-1.167-.737-2.192-.737-.96 0-1.724.208-2.29.622a6.136 6.136 0 0 0-1.408 1.407l-2.88-2.566a7.518 7.518 0 0 1 2.635-2.419c1.057-.581 2.492-.872 4.303-.872 2.442 0 4.275.535 5.497 1.603 1.221 1.07 1.832 2.63 1.832 4.68v7.525h1.603v3.763h-2.683zM90.52 24.508V7.33h4.843v3.73h.164c.087-.48.24-.944.458-1.39a4.25 4.25 0 0 1 .867-1.195c.36-.349.79-.627 1.293-.835.501-.207 1.09-.31 1.767-.31h.85v4.515h-1.21c-1.418 0-2.47.186-3.158.556-.687.372-1.03 1.059-1.03 2.062v10.045H90.52zM103.832 24.509h4.843V7.329h-4.843v17.18zm2.421-19.012c-.981 0-1.696-.223-2.143-.67-.447-.447-.67-1.02-.67-1.718v-.72c0-.698.223-1.27.67-1.718.447-.447 1.162-.671 2.143-.671.982 0 1.696.224 2.144.67.447.448.67 1.02.67 1.719v.72c0 .698-.223 1.27-.67 1.717-.448.448-1.162.671-2.144.671zM123.242 21.629h-.164a5.95 5.95 0 0 1-.605 1.243c-.251.393-.573.742-.966 1.047a4.521 4.521 0 0 1-1.39.72c-.535.175-1.151.262-1.85.262-1.766 0-3.103-.583-4.007-1.75-.906-1.167-1.358-2.842-1.358-5.023V7.33h4.842v10.372c0 1.048.186 1.855.557 2.422.37.567 1.003.85 1.897.85.371 0 .742-.054 1.113-.163.37-.11.698-.267.981-.475a2.44 2.44 0 0 0 .688-.769c.174-.305.262-.665.262-1.08V7.33h4.843v17.178h-4.843V21.63zM132.368 24.508V7.33h4.843v2.912h.196a5.24 5.24 0 0 1 1.571-2.34c.741-.643 1.756-.965 3.043-.965 1.178 0 2.181.294 3.01.883.83.59 1.429 1.451 1.8 2.585h.098c.153-.48.387-.932.704-1.357.316-.426.703-.791 1.161-1.097a6.26 6.26 0 0 1 1.538-.736 5.864 5.864 0 0 1 1.833-.278c1.657 0 2.928.589 3.812 1.767.883 1.178 1.325 2.858 1.325 5.039v10.765h-4.843V14.136c0-2.181-.785-3.272-2.356-3.272-.72 0-1.374.207-1.963.621-.589.415-.883 1.047-.883 1.898v11.125h-4.843V14.136c0-2.181-.786-3.272-2.356-3.272-.35 0-.693.049-1.03.147a2.627 2.627 0 0 0-.917.474 2.47 2.47 0 0 0-.655.802 2.355 2.355 0 0 0-.245 1.096v11.125h-4.843z'/%3E%3Cpath fill='url%28%23a%29' d='M14.102 24.512H0L13.426.295h.676z'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.loader__title {
    font-size: 1rem;
    font-family: HelveticaNeue, Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 1.18;
    color: #3E6A96;
    margin-top: 0.5rem;
    text-align: center;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    -webkit-transform: translate3d(0, -50px, 0);
    -ms-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);

    -webkit-transition: -webkit-transform .5s ease-out;
    -ms-transition: -webkit-transform .5s ease-out;
    transition: transform .5s ease-out;
}

.pace.pace-active {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.pace .pace-progress {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 10px;
    background: #29d;
    pointer-events: none;
}
